<%= current_user.id %>

<img src="<%= current_user.avatar %>" width="50" height="50" align="left">
<%=  current_user.nickname %> <span>さんのマイページ</span>

<br clear="left"><br>


<h3>
      あなたが書いたレビュー
    </h3>

<div class="bigbox">

<img src="<%= @kouen.image_url %>" width="130" height="150" align="left">
<big><a href="/kouens/<%= @kouen.id %>"><%= @kouen.title %></a></big><br>
<a href="/kouens/<%= @kouen.id %>"><Div Align="right"><%= @kouen.gekidan %></Div></a><br>
<strong>脚本</strong> <%= @kouen.writer %><br>
<strong>演出</strong> <%= @kouen.director %><br><br>
<big><strong><%= @kouen.nichiji %></strong></big>


<br clear="left"><br>
<% current_user.reviews.each do |review| %>
  <h5><%= review.title %><Div Align="right"><%= review.created_at %></Div></h5>

<%= review.id %><%= review.review %>
<% end %>
</div>
