  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <div id="yjMain">
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h3>作品を検索</h3>
              </header>
              <%= form_tag('/kouens/search', method: :get) do %>
                <input class="search__query" name="keyword" placeholder="作品名で検索" type="text" value=""><button class="btn-search" title="検索" type="submit"><i class="icon-search">検索</i></button></input><br>
               <%= select_tag :area,['北海道','青森県','岩手県','宮城県','秋田県','山形県','福島県','茨城県','栃木県','群馬県','埼玉県','千葉県','東京都','神奈川県','新潟県','富山県','石川県','福井県','山梨県','長野県','岐阜県','静岡県','愛知県','三重県','滋賀県','京都府','大阪府','兵庫県','奈良県','和歌山県','鳥取県','島根県','岡山県','広島県','山口県','徳島県','香川県','愛媛県','高知県','福岡県','佐賀県','長崎県','熊本県','大分県','宮崎県','鹿児島県','沖縄県'],{ include_blank: '地域を選択してください' } %><button class="btn-search" title="検索" type="submit"><i class="icon-search">検索</i></button><br>

                <%= select_tag :category,['演劇','舞踏・バレエ','歌舞伎・伝統芸能','ミュージカル','オペラ','その他'],{ include_blank: '選択してください' } %><button class="btn-search" title="検索" type="submit"><i class="icon-search">検索</i></button>
              <% end %>
              <form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
              </form>
            </div>
          </article>
<br><br><br>
                <h3>検索結果</h3>
              </header>


<% @kouens.each do |kouen| %>
<br clear="left"><br>
  <div class="searchresult">
  <img src=" <%= kouen.image_url %>" width="30%" height="100%" align="left">
  <big><h6><a href="/kouens/<%= kouen.id %>"> <%= kouen.title %></a></h6></big><br>
  <a href="/kouens/<%= kouen.id %>"><Div Align="right"> <%= kouen.gekidan %></Div></a>
  脚本  <%= kouen.writer %>  演出  <%= kouen.director %><br><br>
  会場  <%= kouen.basho %> <br><br>
  <strong>期間  <%= kouen.nichiji %></strong>
  </div>

  <% end %>
