  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <div id="yjMain">
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h3>作品を検索</h3>
              </header>
              <%= form_for('/kouens/search', method: :get) do %>
                <input class="search__query" name="keyword" placeholder="作品名で検索" type="text" value=""><button class="btn-search" title="検索" type="submit"><i class="icon-search">検索</i></button></input>
              <% end %>
              <form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
              </form>
            </div>
          </article>
<br><br><br>
                <h3>検索結果</h3>
              </header>


<% @kouens.each do |kouen| %>
<br clear="left"><br>
  <div class="searchresult">
  <img src=" <%= kouen.image_url %>" width="30%" height="100%" align="left">
  <big><h6><a href="/kouens/<%= kouen.id %>"> <%= kouen.title %></a></h6></big><br>
  <a href="/kouens/<%= kouen.id %>"><Div Align="right"> <%= kouen.gekidan %></Div></a>
  脚本  <%= kouen.writer %>  演出  <%= kouen.director %><br><br>
  会場  <%= kouen.basho %> <br><br>
  <strong>期間  <%= kouen.nichiji %></strong>
  </div>

  <% end %>