  <h3>公演詳細</h3>

<div class="bigbox">
  <img src="<%= @kouen.image_url %>" width="130" height=" 150" align="left">
  <big><h6><%= @kouen.title %></h6></big><br>
  <a href="#"><Div Align="right"><%= @kouen.gekidan %></Div></a>
  脚本 <%= @kouen.writer %>  演出 <%= @kouen.director %><br><br>
  <strong><%= @kouen.nichiji %></strong>

<br clear="left"><br>

出演者 <%= @kouen.cast %><br><br>

詳細　<%= @kouen.detail %><br><br>

会場　<%= @kouen.basho %><br><br>

<% @kouen.reviews.each do |review| %>
<%= review.review %>
<% end %>

</div>