  <h3>公演詳細</h3>

<div class="bigbox">
  <img src="<%= @kouen.image_url %>" width="130" height=" 150" align="left">
  <a href="#"><Div Align="right"><%= @kouen.area %></Div></a>
  <big><strong><%= @kouen.title %></strong></big><br>
  <a href="#"><Div Align="right"><%= @kouen.gekidan %></Div></a>
  <strong>脚本</strong> <%= @kouen.writer %><br>
  <strong>演出</strong> <%= @kouen.director %><br>
  <a href="/kouens/<%= @kouen.id %>/reviews/new">この作品のレビューを投稿する</a><br>
  <big><strong><%= @kouen.nichiji %></strong></big>

<br clear="left"><br>

  <strong>出演者</strong><br>
 <%= @kouen.cast %><br><br>

 <strong>タイムテーブル</strong><br>
 <p><%= @kouen.timetable %></p><br><br>

 <strong>詳細</strong><br>
 <%= @kouen.detail %><br><br>

 <strong>会場</strong><br>
 <%= @kouen.basho %><br><br>

 <iframe width="98%" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%= @kouen.basho %>&key=AIzaSyDdU6ChubMhVgCuKwhPUM-DyqppRJTi9do" allowfullscreen></iframe>

<% @kouen.reviews.each do |review| %>
  <li><%= review.review %></li>
<% end %>

</div>