<!DOCTYPE html>
  <html>
    <head>
      <title>Gekit</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <title>Gekit</title>
    </head>
  <body>

<div id="top">
<div id="header">
<h1><a href="/top">Gekit</a></h1>


<div id="menu">
  <ul>
    <li><a href="/top">トップ <span class="en">Top</span></a></li>
    <li><a href="/top/now">上演中の公演 <span class="en">Now</span></a></li>
    <li><a href="/kouens/search">公演検索 <span class="en">Search</span></a></li>
    <% if user_signed_in? %>
    <li><a href="/users/<%= current_user.id %>">マイページ<span class="en">My page</span></a></li>
    <li><%= link_to 'ログアウト Sign out', "/users/sign_out", method: :delete %></li>
    <% else %>
    <li><%= link_to "新規登録 Sign up", new_user_registration_path, class: 'post' %></li>
    <li><%= link_to "ログイン Sign in", new_user_session_path, class: 'post' %></li>

      <% end %>

        
</ul>
</div>
</div><br>
<div id="sub">
            <% if user_signed_in? %>
            <h3><%=  current_user.nickname %>さん</h3>
            <ul>
              <img src="<%= current_user.avatar %>" width="50" height="50" align="left">
              
              <Div Align="right"><%= current_user.area %></Div>
              <iframe width="195" height="195" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=<%= current_user.area %>%E3%80%80%E5%8A%87%E5%A0%B4&key=AIzaSyDdU6ChubMhVgCuKwhPUM-DyqppRJTi9do" allowfullscreen></iframe>
               <li><a href="/users/<%=  current_user.id %>">レビューを見る</a></li>
               <li><a href="index.html">レビューを投稿する</a></li>
            </ul><br>
            <% end %>

            <h3>公演の検索</h3>
            <ul>
               <li><a href="/kouens/search">日時から探す</a></li>
                <%= form_for('/kouens/search', method: :get) do %>
                <input class="search__query" name="keyword" placeholder="作品名で検索" type="text" value=""><button class="btn-search" title="検索" type="submit"><i class="icon-search">検索</i></button></input>
              <% end %>
            </ul><br>

</div>


<div id="content">
<div id="main">
<%= yield %>
  </div></div>

<div id="footer">
<div class="copyright">Copyright &copy; Gekit 2016. All Rights Reserved.</div>
</div>

  </body>
</html>
